<!DOCTYPE html>
<!-- saved from url=(0068)http://140.221.92.12/feature_info/feature.html?id=kb|g.1863.peg.4774 -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>KBase Feature Information Browser</title>
    <link href="/services/search/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/services/search/libs/css/kbase-contig-widget.css" rel="stylesheet">
  </head>

  <body onload="var thefid = '<%= id %>';
	  //var thefid = 'kb|g.1863.peg.4447';
	var widget = makeContigWidget('browser', 670, 100, { 
					'feature' : thefid,
					'onClickUrl' : '/services/search/details/',
					'allowResize' : true}); 
              ">



    <div class="container">
      <div class="row">
        <div class="span6">

          <div align="center">
			  
            <div class="btn-group" style=''>
              <button class='btn btn btn-info btn-small' onclick="widget.moveLeftEnd();"><i class='icon-step-backward icon-white'></i> Frist</button>
              <button class='btn btn btn-info btn-small' onclick="widget.moveLeftStep();"><i class='icon-chevron-left icon-white'></i> Previous</button>
              <button class='btn btn btn-info btn-small' onclick="widget.zoomIn();"><i class='icon-plus-sign icon-white'></i> Zoom In</button>
              <button class='btn btn btn-info btn-small' onclick="widget.zoomOut();"><i class='icon-minus-sign icon-white'></i> Zoom Out</button>
              <button class='btn btn btn-info btn-small' onclick="widget.moveRightStep();"><i class='icon-chevron-right icon-white'></i> Next</button>
              <button class='btn btn btn-info btn-small' onclick="widget.moveRightEnd();"><i class='icon-step-forward icon-white'></i> Last</button>
            </div>

            <br/>
            <br/>

            <div id="browser">
              <img src='/services/search/libs/imgs/loader.gif' style='text-align:center;padding-left:220px;padding-top:30px;' id='browser_loader'/>
            </div>

          </div>

        </div>
      </div>
	</div>

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/services/search/libs/js/jquery.js"></script>
    <script src="/services/search/libs/js/bootstrap.min.js"></script>
    <script src="/services/search/libs/js/d3.v2.min.js"></script>
    <script src="/services/search/libs/js/kbase-protein-info.js"></script>
    <script src="/services/search/libs/js/kbase-cdmi.js"></script>
	  <script src="/services/search/libs/js/kbase-contig-widget.js"></script>
	
  
	<script>
		var extractIdFromUrl = function() {
			var id = location.href.match(/id\=(kb\|.+)\&?/);
			if (id && id.length === 2)
			return(id[1]);
			else
			return ''; 
		};
	</script>

</body></html>
