!!! 5
html
    head
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Live Documentation'
        title=title
        link(rel='stylesheet', href='/services/search-doc/stylesheets/prettify.css')
        link(rel='stylesheet', href='/services/search-doc/stylesheets/style.css')

    body
        !{body}
        div(id='io-footer')
           div(class='f-left') &copy;  
              a(href='http://www.kbase.us') DOE System Biology Knowledgebase
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
        script(src='/services/search-doc/javascripts/json2.js')
        script(src='/services/search-doc/javascripts/prettify.js')
        script(src='/services/search-doc/javascripts/utilities.js')
        script(src='/services/search-doc/javascripts/livedocs.js')
        script(src='/services/search-doc/javascripts/docs.js')
