<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KBase Genome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="libs/css/search.css" rel="stylesheet">
    <link href="libs/css/select2.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
    </style>
    <link href="libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Icon -->
    <link rel="shortcut icon" href="libs/bootstrap/img/favicon.ico">
  </head>

  <body>

    <!-- header -->
    <div class="container" style="padding-bottom: 20px">
      <div class="row" style="height: 86px; position:relative">
        <div class="span6">
          <a href="http://www.kbase.us">
            <img src="libs/bootstrap/img/Kbase_Logo.png" style='padding-left:0px;'/>
          </a>
        </div>
        <div class="span7 offset5" style="position: absolute; text-align:right; bottom: -10px">
          <p class="lead" style="font-size: 36px">
          <!--b>KBase Search Tool <img src="libs/bootstrap/img/beta_logo.png" style='vertical-align:super;width:16px;height:auto;'/></b -->
          <b>KBase Search <img src="libs/bootstrap/img/Beta30.png" style='vertical-align:super;'/></b>
          </p>
        </div>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <ul class="nav">
                <li <% if (type === '') { %>class="active" <% } %>   ><a href="/">Home</a></li>
                <li <% if (type === 'genomes') { %>class="active" <% } %>   ><a href="/genomes">Genomes</a></li>
                <li <% if (type === 'genes') { %>class="active" <% } %>  ><a href="/genes">Genes</a></li>
                <li <% if (type === 'promoter') { %>class="active" <% } %>  ><a href="/promoter">Promoter</a></li>
                <li <% if (type === 'rna') { %>class="active" <% } %>  ><a href="/rna">RNA</a></li>
                <li <% if (type === 'prophage') { %>class="active" <% } %>  ><a href="/prophage">Prophage</a></li>
                <li <% if (type === 'literature') { %>class="active" <% } %>  ><a href="/literature">Literature</a></li>
                <li <% if (type === 'smallrna') { %>class="active" <% } %>  ><a href="/smallrna">Small RNA</a></li>
                <li <% if (type === 'riboswitch') { %>class="active" <% } %>  ><a href="/riboswitch">Riboswitch</a></li>
                <li <% if (type === 'locus') { %>class="active" <% } %>  ><a href="/locus">Locus</a></li>
                <li <% if (type === 'mrna') { %>class="active" <% } %>  ><a href="/mrna">mRNA</a></li>
                <li <% if (type === 'pseudogene') { %>class="active" <% } %>  ><a href="/pseudogene">Pseudogene</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </div>
    <!-- End of page header -->

    <%- body %>

    <!-- Footer -->
    <div class="container">
      <footer style="border-top:4px solid rgb(0, 0, 0); padding: 20px; margin-top:20px;">
        <div align=center>
          <div class="container"> 
            <div class="copyright">
              <p>
                <a href="http://www.science.energy.gov/">
                  <img src="libs/bootstrap/img/doe_logo.png" />
                </a> 
                <a class="share-icon" href="http://www.facebook.com/pages/DOE-Systems-Biology-Knowledgebase/148332628600806">
                  <img src="libs/bootstrap/img/facebook.png" alt="facebook" />
                </a>
                <a class="share-icon" href="http://twitter.com/DOEKbase">
                  <img src="libs/bootstrap/img/twitter.png" alt="twitter" />
                </a>
              </p>
              <p class="sponsor">KBase is sponsored by the U.S. Department of Energy's<br/><a href="http://science.energy.gov/ber/">Office of Biological and Environmental Research</a></p>
              <p><a href="http://www.anl.gov/notice.html">Privacy and Security Notice</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- End of page footer -->

    <!-- 
    ================================================== -->
    <script src="libs/bootstrap/js/jquery-1.8.3.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
