h1 DOE Systems Biology Knowledgebase Search Service

h1 Overview

h4 KBASE search web service is intended to enable KBASE resources to be encapsulated from a data and functional search perspective. KBASE internal resources are loosely coupled and this service exposes a very light-weight ReST-based API that enables KBASE developers to utilize KBASE resources in their development environments. This document presents a proposed outline of the design and architectural aspects of KBASE search web services.

br 
br

h4 This guide is designed to assist software developers in building applications that access the KBASE housed search resources. This document assumes that a developer is familiar with the following web technologies to utilize this KBASE resource;

br 
br

ol
  li 1. ReSTful web services,
  li 2. HTTP/1.1, and
  li 3. JSON and/or XML data serialization formats.

br


ul
   - for (var api in apiInfo)
       b
         li: a(href = '/services/search-doc/' + api) #{apiInfo[api].name}
