# Example my.cnf file suitable for use with the dump script.
# Be sure to use proper credentials.
[client]
password='putYourPasswordHere'
user=kbase_sapselect
database=kbase_sapling_v3
host=db3.chicago.kbase.us

# use "quick" to force mysql to stream to disk instead of saving buffer in memory
[mysql]
batch
skip-column-names
quick
#verbose
