<% include header.html %>

      <div class="jumbotron">
        <h1>KBase Search</h1>
        <dir class='row'>
          <div class="input-append">
            <form class="form-wrapper" action='/process' id='searchForm' method='post' style='margin-bottom:400px;'>
              <input class="span2" id="appendedInputButtons" name='keyword' type="text" style='width:400px;'>
              <button class="btn" type="button" id='search' >Search</button>
              <button class="btn" type="button" id='advanced' >Advnaced</button>
            </form>
          </div>
        </div>
      </div>


<% include footer.html %>
